:root {
    /* template settings */
    --color-text: rgba(66, 66, 66, 1);
    --color-body: rgba(232, 208, 172, 1);
    --color-element: rgba(240, 224, 200, 1);
    --color-accent: rgba(236, 216, 186, 1);
    --color-input: rgba(208, 213, 154, 1);
    --color-info: rgba(162, 197, 89, 1);
    --color-border-top: rgba(227, 197, 152, 1);
    --color-border-right: rgba(224, 190, 140, 1);
    --color-border-bottom: rgba(218, 179, 120, 1);
    --color-border-left: rgba(224, 190, 140, 1);
    --color-border: var(--color-border-top) var(--color-border-right) 
                    var(--color-border-bottom) var(--color-border-left);
    --border-width: 1px; 
    --border-style: solid;   
    --border-radius: 4px;
}

/* ----- Global Settings ----- */

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--template-color-text);
}

body {
    background-color: var(--color-body);
}

main {
    max-width: 1200px;
    background-color: var(--color-element);
}

input,
select {
    background-color: var(--color-input);
}

input:read-only {
    background-color: var(--color-accent);
    -webkit-appearance: none;
    appearance: textfield;
    
}

.info-box {
    background-color: var(--color-info);
}

/* ----- Border ----- */
main,
input,
select {
    border-color: var(--color-border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: var(--border-style);
}

section:nth-of-type(2) h4 {
    border-top: calc(var(--border-width) * 2) var(--border-style) var(--color-border-top);
    border-bottom: var(--border-width) var(--border-style) var(--color-border-top);
}

/* ----- specific settings ----- */
#expert-mode-container {
    font-size: 0.8em;
}

#expert-mode-container input[type="checkbox"] {
    transform: scale(1.4);
}

[id*="data-input-"] .d-flex label,
[id*="data-output-"] .d-flex label,
[id*="data-comparison-"] .d-flex label {
    background-color: var(--color-accent);
    border-right: var(--border-width) var(--border-style) var(--color-border-top);
}

